# general
.DS_Store
__pycache__
.ipynb_checkpoints
.vscode

# files
emma.ipynb
bigRandom.txt

# directories
project1
project2
project3
project4
selected
exam_prep
research_webscraping
page_rank_algorithm
kattis
